[package]
name = "reval"
version = "0.1.0"
edition = "2021"
rust-version = "1.60"
authors = ["Mendelt Siebenga <msiebenga@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Simple Rust expression evaluator"
repository = "https://github.com/mendelt/reval"
keywords = ["expression", "evaluator"]
readme = "README.md"

publish = false

[dependencies]
displaydoc = "0.2"
nom = { version="7", optional=true }
serde = { version = "1", features = ["derive"], optional=true }
serde_json = { version="1", optional=true }
thiserror = "1"

[features]
default = ["json_parser", "value_serializer"]
nom_parser = ["dep:nom"]
json_parser = ["dep:serde", "dep:serde_json"]
value_serializer = ["dep:serde"]
