name: Publish

on:
  push:
    tags:
      - "*"

jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo publish --verbose --all-features --token ${{ secrets.CRATES_IO_TOKEN }}
